/* Grundeinstellung */
.body                       {cursor:url(../files/cursor/load.ani);}

/* Textveränderungen */
/*.Link-Text             {color:#bfbfbf; text-decoration: underline;}
.Link-Text2           {cursor:url(..\files\cursor\load.ani); color:#0099ff; text-decoration: underline;}
.Mail-Text             {color:#bfbfbf; text-decoration: underline;}
.Mail-Text2           {cursor:url(..\files\cursor\load.ani); color:#0099ff; text-decoration: underline;}
.tzerlink               {color:#bfbfbf; text-decoration: underline;}
.tzerlink2             {cursor:url(..\files\cursor\load.ani); color:#0099ff; text-decoration: underline;}
*/
/* Bereichsveränderungen */
.imagebox               {cursor:url(..\files\cursor\load.ani); text-align:left; filter: alpha(Opacity=70,  Finish0pacity=70);  border-width:1px;}
.imagebox2             {cursor:url(..\files\cursor\load.ani); text-align:left; filter: alpha(Opacity=100, FinishOpacity=100); border-width:1px;}
.swfbox                   {text-align:left; border-style:solid; border-width:0px;}
.videobox               {text-align:left; border-style:solid; border-width:0px;}
.tzerbildbereich {text-align:center;}
.icons_filetypes  {height:28px; margin-bottom:0px; margin-top:0px; margin-left:0px; margin-right:3px;}
.TVText                   {background-color:#FFDDDD; color:#1818C6; text-decoration: none;}
.TVText2                 {cursor:url(..\files\cursor\nusic_red.ani); color:#18C618; background-color:#000000; text-decoration: none;}


.imagebox_filetransfer {display:inline; vertical-align:middle; text-align:left filter: alpha(Opacity=70,  Finish0pacity=70);  border-width:1px; cursor:url(..\files\cursor\nusic_red.ani); }
.imagebox2_filetransfer {display:none; text-align:left; filter: alpha(Opacity=100,  Finish0pacity=100); border-width:1px; cursor:url(..\files\cursor\nusic_red.ani);}
.otherbox       {display:none; text-align:left; border-style:solid; border-width:0px;}

/* Bildveränderungen */
.bildvorschau       {height:120px; border-style:solid; border-width:1px; margin-bottom:0px; margin-top:0px; margin-left:0px; margin-right:0px;}
.icons                     {cursor:url(..\files\cursor\load.ani); height:20px; margin-bottom:0px; margin-top:0px; margin-left:0px; margin-right:0px;}
.textimages           {cursor:url(..\files\cursor\load.ani); height:30px; margin-bottom:0px; margin-top:0px; margin-left:0px; margin-right:0px;}
.tzerbild               {cursor:url(..\files\cursor\load.ani); text-align:left; width:60px; height:48px; filter:Chroma(color=#FFFFFF); margin-bottom:0px; margin-top:0px; margin-left:0px; margin-right:0px;}