#include "resource.h"
#include "windows.h"

ID_OP ICON DISCARDABLE "x_fire16x16.ico"
IDI_TM ICON DISCARDABLE "d_xfire.ico"
IDI_ONLINE ICON DISCARDABLE "xfire online.ico"
IDI_OFFLINE ICON DISCARDABLE "xfire offline.ico"
IDI_AWAY ICON DISCARDABLE "xfire away.ico"

IDD_OPT DIALOGEX 0,0,304,218
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "",IDC_LOGIN,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,58,9,100,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_PASSWORD,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD,58,24,100,13,WS_EX_CLIENTEDGE
  CONTROL "Password:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,4,25,52,9
  CONTROL "Loginname:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,4,11,52,9
  CONTROL "XFire",IDC_GROUPMAIN,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|BS_GROUPBOX,2,1,160,54
  CONTROL "Nick:",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,4,40,52,9
  CONTROL "",IDC_NICK,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,58,38,100,13,WS_EX_CLIENTEDGE
  CONTROL "Options",IDC_GRP1,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,57,300,80
  CONTROL "Disable Avatars",IDC_NOAV,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,66,266,13
  CONTROL "Disable XFire MessageBox",IDC_NOMSG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,77,266,13
  CONTROL "No Ip/Port in StatusMsg",IDC_NOIPPORT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,88,266,13
  CONTROL "Switch to Online instead of AFK on non supported Globalstatuses",IDC_ONINAFK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,99,268,13
  CONTROL "Icon Options *",IDC_GRP5,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,138,300,28
  CONTROL "Gameicon:",IDC_STC6,"Static",WS_CHILD|WS_VISIBLE,8,151,36,9
  CONTROL "",IDC_CBGICO,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,46,149,106,9
  CONTROL "Voiceicon:",IDC_STC8,"Static",WS_CHILD|WS_VISIBLE,154,151,36,9
  CONTROL "",IDC_CBVICO,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,192,149,106,9
  CONTROL "* requires Miranda restart",IDC_STC9,"Static",WS_CHILD|WS_VISIBLE,2,208,300,9
  CONTROL "Dont create automatically Clangroups",IDC_NOCLANGROUP,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,110,268,13
  CONTROL "Scan for games on every Miranda start",IDC_SCANALWAYS,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,121,268,13
  CONTROL "Files",IDC_GRP6,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,164,1,138,35
  CONTROL "xfire_games.ini",IDC_CHKG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,170,12,128,9
  CONTROL "icons.dll",IDC_CHKI,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,170,24,128,9
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,3,3
PRODUCTVERSION 0,1,3,3
FILEOS 0x00040004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF04B0"
    BEGIN
      VALUE "About Miranda", "Miranda IM is a new generation IM client, extensible with numerous plugins. Get Miranda IM at http://www.miranda-im.org\0"
      VALUE "ProductName", "Plugin for Miranda IM\0"
      VALUE "OriginalFilename", "XFire.dll\0"
      VALUE "FileVersion", "0.1.3.3\0"
      VALUE "ProductVersion", "0.1.3.3\0"
      VALUE "FileDescription", "Miranda XFire Protocol plugin\0"
      VALUE "LegalCopyright", "Copyright © 2008 dufte\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x04B0
  END
END

IDD_UD DIALOGEX 0,0,208,159
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "XFire Username:",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE,10,18,64,9
  CONTROL "XFire Nick:",IDC_STC3,"Static",WS_CHILD|WS_VISIBLE,10,9,64,9
  CONTROL "Game",IDC_GRP2,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,33,205,33
  CONTROL "Voicechat",IDC_GRP3,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,68,205,35
  CONTROL "Name:",IDC_STC4,"Static",WS_CHILD|WS_VISIBLE,30,42,36,9
  CONTROL "Unreal Tournament 2004",IDC_GAME,"Static",WS_CHILD|WS_VISIBLE,54,42,120,9
  CONTROL "IP:",IDC_STC5,"Static",WS_CHILD|WS_VISIBLE,30,53,18,9
  CONTROL "255.255.255.255",IDC_GIP,"Static",WS_CHILD|WS_VISIBLE,54,53,54,9
  CONTROL "Port:",IDC_STC7,"Static",WS_CHILD|WS_VISIBLE,134,53,16,9
  CONTROL "27770",IDC_GPORT,"Static",WS_CHILD|WS_VISIBLE,150,53,30,9
  CONTROL "Unreal Tournament 2004",IDC_VNAME,"Static",WS_CHILD|WS_VISIBLE,54,79,142,9
  CONTROL "Name:",IDC_STC10,"Static",WS_CHILD|WS_VISIBLE,30,79,22,9
  CONTROL "IP:",IDC_STC11,"Static",WS_CHILD|WS_VISIBLE,30,90,18,9
  CONTROL "255.255.255.255",IDC_VIP,"Static",WS_CHILD|WS_VISIBLE,54,90,54,9
  CONTROL "Port:",IDC_STC13,"Static",WS_CHILD|WS_VISIBLE,134,90,16,9
  CONTROL "27770",IDC_VPORT,"Static",WS_CHILD|WS_VISIBLE,150,90,30,9
  CONTROL "Userdetails",IDC_GRP4,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,0,205,33
  CONTROL "dufte",IDC_DNICK,"Static",WS_CHILD|WS_VISIBLE,66,9,138,9
  CONTROL "dufte",IDC_DUSERNAME,"Static",WS_CHILD|WS_VISIBLE,66,18,138,9
  CONTROL "",IDC_GAMEICO,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,6,42,21,19
  CONTROL "",IDC_VOICEICO,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,6,79,21,19
  CONTROL "Copy",IDC_COPYGAME,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,176,38,28,9
  CONTROL "Copy",IDC_COPYVOICE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,176,73,28,9
  CONTROL "",IDC_PROFILIMG,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_BITMAP,2,103,205,54
END

