html, body, div, p {
	margin: 0;
	padding: 0;
	color: #C0C0C0;
	scrollbar-3dlight-color:#222222; 
	scrollbar-arrow-color:#555; 
	scrollbar-base-color:#1a1a1a; 
	scrollbar-darkshadow-color:#121212; 
	scrollbar-face-color:#1a1a1a; 
	scrollbar-highlight-color:#333; 
	scrollbar-shadow-color:#121212;
}

body {
	font-family: 'Tahoma';
	font-size: 11px;
	background-color: #101010;
}

input {	/*Кнопки увеличения и уменьшения текста*/
	background: #1a1a1a fixed;
	width: 18px;
	height: 18px;
	font-family: "Arial";
	font-size: 10px;
	border: 1px solid #333;
	margin: 0px 0px 0px 0px;
	cursor: pointer;
	color: #555;
}

#fix {	/*Фиксация кнопок*/
	position: fixed;
	right: 0px;
	top: 0px;
	/*width: 18px;*/ /*Если убрать то + и - текста будут по вертикале*/
	z-index: 1000;
}


.MessageInGroup, .MessageIn, .MessageOutGroup, .MessageOut, .status {
	position: relative;
	border-bottom: 1px solid #121212;
}

.Message { 
}

.MessageOutGroup, .MessageOutGroupStart, .MessageOutGroupInner, .MessageOut {
	background: #1B1B1B ;
	padding-left: 2px;
	padding-right: 2px;
}

.MessageInGroup, .MessageInGroupStart, .MessageInGroupInner, .MessageIn {
	background: #232323;
	padding-left: 2px;
	padding-right: 2px;
}

.MessageOutGroup .head, .MessageOut .head { 
	font: normal normal bold 8pt normal Tahoma, Tahoma, Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #0860BD;	
}

.MessageInGroup .head, .MessageIn .head {
	font: normal normal bold 8pt normal Tahoma, Tahoma, Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #C83F6B;
}

.head .time, .file .time, .status .time {
	position: absolute;
	right: 4px;
	font: normal normal normal 8pt normal Tahoma, Tahoma, Verdana, Arial, sans-serif;
	text-decoration: none;
	color: #808080;
}

.Message .time {
	float: right;
	font: normal normal normal 8pt normal Tahoma, Tahoma, Verdana, Arial, sans-serif;
	text-decoration: none;
	color: #808080;
}

.file, .status {
	background: #464451;
}
.file .text, .status .text, .file .head, .status .head {
	padding-left: 5px;
}

.head { 
	padding-bottom: 4px;
}

.text {

}

.content{
	margin-bottom: 3px;
}

.Message .text{
	position: relative;
}

h6 {
	display: inline;
	margin-right: 2px;
	font-size: 12px;
	font-weight: normal;
}

a, a:visited  {
	color: #87c4ba;
	text-decoration:none;
}

a:hover, a:active {
	text-decoration: underline;
}