body {
	margin:0px 0px 0px 0px;
 	padding: 0px 4px 4px 4px;
	font-size: 8pt;
 	font-family: 'Trebuchet MS', sans-serif;
}

div {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: auto;
	word-wrap: break-word;
}

p {
	margin: 0px 0px 0px 0px;
	width: auto;
}

a {
	text-decoration: none;
	color: #76B900;
	/* color: #FF0000; */
}

a:hover {
	text-decoration: underline;
	color: #76B900;
	/* color: #FF0000; */
}

.img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

.time {	
   font-size: 7pt;
	font-weight: normal;
	float: right;	
}

/* space between boxes, I HATE this IE-engine */
.space {
	background: #FFFFFF;
	line-height: 4px;
	font-size: 3px;
}

/* -------------------- incoming messagebox -------------------- */
.in {
	background: #DBDCDD url(img/in-tl.gif) no-repeat top left;
}

.in .tr {
	background: url(img/in-tr.gif) no-repeat top right;
}

.in .bl {
	background: url(img/in-bl.gif) no-repeat bottom left;
}

.in .br {
	background: url(img/in-br.gif) no-repeat bottom right;
	padding: 4px 6px 4px 6px;
}

.in .hbr {
	background: url(img/in-h-br.gif) no-repeat bottom right;
	padding: 4px 6px 4px 6px;
}

.in .head {
	font-weight: bold;
	color: #000000;
	padding: 0px 0px 2px 0px;
	background: url(img/dot.gif) repeat-x bottom;
	font-family: 'Trebuchet MS', sans-serif;	
}

.in .content {
	padding: 4px 0px 0px 0px;
	color: #000000;
}

/* grouping support */
.in .gcontent {
	margin: 4px 0px 0px 0px;
	padding: 4px 0px 0px 0px;
	border-top: solid 1px;
	border-top-color: #B3B3B3;
	color: #000000;
}

.in .gtime {
   font-size: 7pt;
	color: #484848;	
	float: right;
	font-family: 'Trebuchet MS', sans-serif;
	margin: 2px 0px 0px 0px;
}

/* -------------------- outgoing messagebox -------------------- */
.out {
	background: #484848 url(img/out-tl.gif) no-repeat top left;
}

.out .tr {
	background: url(img/out-tr.gif) no-repeat top right;
}

.out .bl {
	background: url(img/out-bl.gif) no-repeat bottom left;
}

.out .br {
	background: url(img/out-br.gif) no-repeat bottom right;
	padding: 4px 6px 4px 6px;
}

.out .hbr {
	background: url(img/out-h-br.gif) no-repeat bottom right;
	padding: 4px 6px 4px 6px;
}

.out .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 0px 0px 2px 0px;
	background: url(img/dot.gif) repeat-x bottom;
	font-family: 'Trebuchet MS', sans-serif;
}

.out .content {
	padding: 4px 0px 0px 0px;
	color: #FFFFFF;
}

/* grouping support*/
.out .gcontent {
	margin: 4px 0px 0px 0px;
	padding: 4px 0px 0px 0px;
	border-top: solid 1px;
	border-top-color: #727272;
	color: #DBDCDD;
}

.out .gtime {
   font-size: 7pt;
	color: #FFFFFF;	
	float: right;
	font-family: 'Trebuchet MS', sans-serif;
	margin: 2px 0px 0px 0px;
}

/* -------------------- status changes -------------------- */
.status {
	background: #D84519 url(img/status-tl.gif) no-repeat top left;
}

.status .tr {
	background: url(img/status-tr.gif) no-repeat top right;
}

.status .bl {
	background: url(img/status-bl.gif) no-repeat bottom left;
}

.status .br {
	background: url(img/status-br.gif) no-repeat bottom right;
	padding: 4px 6px 4px 6px;
	color: #FFFFFF;
}

.status .head {
	font-weight: bold;
	color: #FFFFFF;
}

/* -------------------- URL events -------------------- */
.url {
	background: #BAE265 url(img/url-tl.gif) no-repeat top left;
}

.url .tr {
	background: url(img/url-tr.gif) no-repeat top right;
}

.url .bl {
	background: url(img/url-bl.gif) no-repeat bottom left;
}

.url .br {
	background: url(img/url-br.gif) no-repeat bottom right;
	padding: 4px 6px 4px 6px;
	color: #FFFFFF;
}

.url .hbr {
	background: url(img/url-h-br.gif) no-repeat bottom right;
	padding: 4px 6px 4px 6px;
	color: #FFFFFF;
}

.url .head {
	font-weight: bold;
	color: #000000;
	padding: 0px 0px 2px 0px;
	background: url(img/green-dot.gif) repeat-x bottom;
	font-family: 'Trebuchet MS', sans-serif;
}

.url .content {
	padding: 4px 0px 0px 0px;
}

.url a {
	color: #4F7400;
}

.url a:hover {
	color: #4F7400;
}

.url a:visited {
	color: #4F7400;
}

/* -------------------- FILE events -------------------- */
.file {
	background: #AEC8E5 url(img/file-tl.gif) no-repeat top left;
}

.file .tr {
	background: url(img/file-tr.gif) no-repeat top right;
}

.file .bl {
	background: url(img/file-bl.gif) no-repeat bottom left;
}

.file .br {
	background: url(img/file-br.gif) no-repeat bottom right;
	padding: 4px 6px 4px 6px;
	color: #484848;
}

.file .hbr {
	background: url(img/file-h-br.gif) no-repeat bottom right;
	padding: 4px 6px 4px 6px;
	color: #484848;
}
.file .head {
	font-weight: bold;
	color: #000000;
	padding: 0px 0px 2px 0px;
	background: url(img/blue-dot.gif) repeat-x bottom;
	font-family: 'Trebuchet MS', sans-serif;
}

.file .content {
	padding: 4px 0px 0px 0px;
}
