#Calipso skin v0.0.2 for popup.2.0.3.96.preview8 or late
#author mkp, Tomsk, 2005
#feel free to use this as a starting point for your future skins ;)

#option	id	val	title
option	1	1	Use different colors
option	2	1	Line under title
option	3	1	Show icon
option	4	1	Show Avatars
option	5	0	Avatars to right
option	6	0	Other clock view
option	7	0	Other clock view
